@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online loan</h1>
    <p>Open a book and start reading today!</p>
    <div>
        <img src="/img/OpenBook.png" alt="">
    </div>
</div>
